body {
    width: 100%;
    height: 100%;
}

.topbar {
    padding-bottom: 250px;
}

.topbar a {
    text-decoration: none;
    color: black;
}

.topbar ul {
    list-style-type: none;
}

.topbar li {
    display: inline;
}

.leftlinks {
    float: left;
    padding-top: 10px;
    padding-left: 20px;
}

.leftlinks .about {
    padding-right: 20px;
}

.rightlinks {
    float: right;
    padding-top: 10px;
    padding-right: 20px;
    display: flex;
}

.rightlinks .images {
    padding-left: 20px;
}

.rightlinks .material-icons {
    padding-right: 20px;
    padding-left: 20px;
}

#footer li {
    display: inline-block;
    padding: 10px;
}

.footerleft {
    float: left;
    padding-left: 20px;
    margin-top: 8px;
}

#footer a {
    text-decoration: none;
    color: dimgray;
}

.footerright {
    float: right;
    padding-right: 20px;
    margin-top: 8px;
}

#footer {
    background-color: rgb(243, 239, 229);
    bottom: 0px;
    position: absolute;
    width: 100%;
    height: 5%;
}

.googlecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 300px;
}

.searchcontainer {
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid dimgray;
    border-radius: 25px;
    position: relative;
}

.searchcontainer i {
    color: dimgray;
    margin-top: 10px;
}

.logo {
    padding-bottom: 40px;
}

.carbon {
    text-align: center;
}

.searchlinks li {
    display: inline;
    padding: 20px;
}

.searchlinks a {
    text-decoration: none;
    color: black;
}

#searchbar {
    width: 450px;
    height: 30px;
    outline: none;
    font-size: 18px;
    border: none;
}

#searchbar input {
    width: 500px;
    height: 40px;
    border-radius: 25px;
}